.item-div {
  box-sizing: border-box;
  background-color: #5fd4c1;
  width: 100%;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .item-name {
    width: 30%;
    margin-right: 10px;;
  }
  .audio {
    margin-right: 30px;
    .controller {
      display: flex;
      align-items: center;
      .paly-btn {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-image: url(./assets/Play.png);
        background-size: contain;
        margin-right: 10px;
    
        &.playing {
          background-image: url(./assets/Pause.png);
        }
      }

      .progress-con{
        width: 100px;
        height: 10px;
        background-color: rgb(243, 231, 231);
        border-radius: 10px;

        .progress {
          width: 10px;
          height: 100%;
          background-color: #f7bb38;
          border-radius: 10px;
        }
      }
    }
  }
  .btn-div {
    width: 35px;
    height: 35px;
    background-color: #fff;
    position: absolute;
    right: 30px;
    &.collect {
      background-color: #f73838;
    }
  }
}